*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(68, 67, 68, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: rgb(139, 33, 122);
    font-weight: 600;
    transition: 0.3s ease;
    padding-right: 8%;
}
.logo:hover{
    color:rgb(121, 6, 102);
    text-shadow: 0 0 25px rgb(77, 2, 70),
                 0 0 50px rgb(107, 6, 82);
    transform: scale(1.1);
}

span{
    color: aliceblue;
}
.navbar a{
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.alive{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 25px rgb(255, 255, 255),
                 0 0 50px rgb(255, 255, 255);
    transform: scale(1.5);
    border-bottom: 3px solid rgb(145, 9, 111);
}
.call{
    padding: 10px 28px;
    background-color: rgb(95, 46, 87);
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
}
.call:hover{
    background-color: rgb(12, 11, 12);
    box-shadow: 0 0 25px rgb(90, 4, 83);
    color: white 
}
.Intro{
    width: 100%;
    min-height: 100vh;
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    padding-top: 80px;
}
.Intro-content{
    max-width: 800px;
}
.Intro-content h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Intro-content h4{
    font-size: 20px;
    line-height: 1.2;
    color:  rgb(207, 184, 205);
}
.Intro-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: rgb(255, 255, 255);
}
.Thebuttons{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1{
    padding: 15px 28px;
    background-color: rgb(29, 4, 24);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: o.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(29, 4, 24);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: o.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: aliceblue;
    color: rgb(41, 4, 33);
}

.Picture img{
    position: relative;
    width: 450px;
    box-shadow: 0 0 25px rgb(124, 1, 83),
                0 0 50px rgb(255, 255, 255);
    border-radius: 50%;
    height: 500px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(85, 21, 80);
}
::-webkit-scrollbar-track{
    background-color: rgb(185, 164, 176);
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px rgb(124, 1, 83),
                0 0 50px rgb(146, 0, 85);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 30px;
}
.about-content h3{
    font-size: 20px;
    line-height: 1.2;
    color:  rgb(207, 184, 205);
}

.about-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: rgb(255, 255, 255);                                                                                                               
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 25px;
}

.contact-form{
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding-left: 10px;
}
.contact-form form{
    max-width: 50em;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;

}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form .textarea{
    width:100%;
    padding: 1.5em;
    font-size: 18px;
    color: rgb(19, 2, 13);
    background: rgb(255, 242, 255);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.span{
    color: rgb(145, 0, 108);
}
.contact-me{
    font-size: 50px;
}

.Company{
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;


}

.companies{
    display: flex;
    width: 100%;
    height: 40%;
    font-size: 16px;
    text-align: center;
    background: rgba(61, 41, 58, 0.8);
    color: aliceblue;
    margin-top: 40px;
    
}

.Company img{
    height: 65px;
    width: 65px;
    border-radius: 40px;
}

.companies h3{
    font-size: 16px;
    line-height: 1.2;
    color:  rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    padding-right: 120px;

}

/*----------------------------------Not on html-------------------------*/
.my-work{
    width: 100%;
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    gap: 7em;
}

.my-work h2{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 250px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: white;
    text-shadow: 0 0 25px rgb(124, 41, 110),
                 0 0 50px rgb(255, 255, 255);
    transform: scale(1.5);
    border-bottom: 2px solid rgb(255, 249, 254);
    margin-bottom: 100px;
}

.tab-tittles{
    padding-left: 250px;
    padding-top: 35px;
}

.Services{
    padding: 50px 0;
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    gap: 7em;
    color: rgb(235, 235, 235);
}

.Sevices-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid: gap 40px;
    margin-top: 30px;
}

.Sevices-list div{
    background: #705d6e;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 10px;
    transition: background 0.5s transform 0.5s;
    margin: 10px;
}

.Sevices-list div i{
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Sevices-list div h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.Sevices-list div a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12;
    margin-top: 20px;
    display: inline-block;
}

.Sevices-list div:hover{
    background-color: rgb(78, 30, 62);
    transform: translateY(-10px);
}


.container h2{
    color: rgb(196, 187, 192);
    margin-left: 70px;
    font-size: 30px;
    text-align: center;
}


.container{
    margin-left: 50px;
    padding-inline: 50px;
}

/*----------------------------------the start of the footer----------*/

.footer{
    display: flex;
    width: 100%;
    height: 40%;
    font-size: 16px;
    text-align: center;
    background: rgba(61, 41, 58, 0.8);
    padding-top: 5px;
    margin-top: 130px;
}

.footer h4{
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 39, 39);
}

.Details{
    margin-left: 3%;
    color: rgba(255, 255, 255, 0.753);
    margin-top: 50px;
    font-size: 16px;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.Details h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    word-spacing: 5%;
}

.Details h4{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 5%;
}

.Thebuttons a{
    font-size: 20px;
    color: rgb(61, 4, 52);
    background-color: aliceblue;
}


.portfolio-main{
    padding: 50px 0;
    background-image: url(pictures/5096154.jpg),
    radial-gradient(#a19f9f, #5a5656);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    gap: 7em;
    color: rgb(235, 235, 235);
}




/* -----------------the end of the footer and the map image-------------*/

